<!doctype html>

<html>
    <head>
        <title>Reddit</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body style = "font-family:Times New Roman; margin: 10px">
        <div class="col-md-12">
            <div align="center">
                <img src="/images/logo2.png">
            </div>

            <div>
                <p id="post" style = "font-size: 120%"></p>


                <script type="text/javascript">
                    var dojoConfig = {
                        async: true,
                        packages: [
                            {
                                name: "dojoFiles",
                                location: "/dojo"
                            }
                        ]
                    };
                </script>

                <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.8/dojo/dojo.js" data-dojo-config="async: true"></script>


                <script type="text/javascript">
                    require(["dojoFiles/GetPost"], function () {
                        var post = new GetPosts();
                        post.getPost();
                    });

                </script>
            </div>
        </div>
    </body>
</html>