<!doctype html>

<html>
    <head>
        <title>Reddit</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body style = "font-family:Times New Roman; margin: 10px">
        <div class="col-md-12">
            <div align="center">
                <img src="/images/logo2.png">
            </div>

            <div>
                <p id="post" style = "font-size: 120%"></p>

                <script src="/javascripts/Comment.js"></script>
                <script src="/javascripts/CommentView.js"></script>
                <script src="/javascripts/getPost.js"></script>
                <script src="/javascripts/Post.js"></script>
                <script src="/javascripts/Reply.js"></script>
                <script src="/javascripts/Utils.js"></script>
            </div>
        </div>
    </body>
</html>