<!doctype html>

<html>
    <head>
        <title>Reddit</title>
    </head>
    <body>
        <div>
            <p id="post"></p>

            <script src="/javascripts/getPost.js"></script>
            <script src="/javascripts/PostDom.js"></script>
            <script src="/javascripts/CommentDom.js"></script>
        </div>
    </body>
</html>