<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Reddit</title>
</head>
<body>

<div>
    <h1> </h1>
    <p id="post">

    </p>

    <script src="/javascripts/getPost.js"></script>
    <script src="/javascripts/PostDom.js"></script>
    <script src="/javascripts/CommentDom.js"></script>


</div>

</body>
</html>