<!DOCTYPE html>

<html>
    <head>
        <title>Reddit</title>
    </head>
    <body>
        <div>
            <h1><%= error.status %>: <%= message %></h1>
            <pre><%= error.stack %></pre>
            <a href="/"> Home</a>
        </div>
    </body>
</html>