<!doctype html>
<!-- This page will have all the trending posts -->

<html>
    <head>
        <title>Reddit</title>
    </head>

    <body>
        <div>
            <p id="a"></p>
            <p id="b"></p>
            <h1 align="center">Reddit</h1>
            <div>
                <p align="left">Hello <%= user.local.username %> </p>
                <p hidden id="username"> <%= user.local.username%> </p>
                <p hidden id="userId"> <%= user.id%></p>
                <div align="right">
                    <a href="/newpost" >Submit a new post</a>
                    <br/>
                    <a href="/logout" >Logout</a>
                </div>
            </div>

            <div id="posts">
            </div>

        </div>

        <script src="/javascripts/feedPost.js">
        </script>
    </body>
</html>
