<!doctype html>

<html>
    <head>
        <title>Reddit</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body style = "font-family:Times New Roman; margin: 10px" >
        <div class="col-md-12">
            <div align="center">
                <img src="/images/logo2.png">
            </div>

            <div>
                <p style = "font-size : 120%" align="left">Hello <%= user.local.username %> </p>

                <script>
                    var username = '<%= user.local.username%>';
                    var userId = '<%= user.id%>';
                    localStorage.setItem("username" ,username);
                    localStorage.setItem("userId" , userId);
                </script>
                <div align="right">
                    <a href="/newpost" class="btn btn-primary btn-sm" style="font-size: 100%" >Submit a new post</a>
                    <br/>
                    <a href="/logout" class="btn btn-primary btn-sm" style="font-size: 100%">Logout </a>
                    <br/>
                </div>
            </div>
            <div id="posts"></div>
        </div>


        <script type="text/javascript">
            var dojoConfig = {
                async: true,
                packages: [
                    {
                        name: "dojoFiles",
                        location: "/dojo"
                    }
                ]
            };
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.8/dojo/dojo.js" data-dojo-config="async: true"></script>

        <script type="text/javascript" src="/dojo/PostsFeed.js">

        </script>
    </body>
</html>
