<!doctype html>
<!-- This page will have all the trending posts -->

<html>
    <head>
        <title>Reddit</title>
    </head>

    <body>
        <div>
            <p id="a"></p>
            <p id="b"></p>
            <p id="c"></p>
            <h1 align="center">Reddit</h1>
            <div>
                <p align="left">Hello <%= user.local.username %> </p>
                <script>
                    var username = '<%= user.local.username%>';
                    var userId = '<%= user.id%>';
                    localStorage.setItem("username" ,username);
                    localStorage.setItem("userId" , userId);
                </script>

                <div align="right">
                    <a href="/newpost" >Submit a new post</a>
                    <br/>
                    <a href="/logout" >Logout</a>
                </div>
            </div>

            <div id="posts">
            </div>

        </div>

        <script src="/javascripts/feedPost.js"></script>
        <script src="/javascripts/PostDom.js"></script>
        <script src="/javascripts/CommentDom.js"></script>
    </body>
</html>
