<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>Reddit</title>
        <style>
            body
            {
            text-align:center;
            }

        </style>
    </head>
    <body>
        <div>
            <img src="/images/logo1.png">
            <br/>
            <br/>
            <a href="/login" class="btn btn-primary btn-lg">Login</a>
            <a href="/signup" class="btn btn-primary btn-lg">Signup</a>
        </div>
    </body>
</html>