<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to Reddit</title>

      <style>
      body
              {
                  text-align:center;
              }

      </style>
    </head>

    <body>
    <div>
      <div>
        <h1>REDDIT</h1>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
    </body>
</html>